/**
 * @prop --picto-accent-color
 * @prop --picto-pane-border
 * @prop --picto-accent-color-alt
 */

:host
  component(block)
  ion-icon
    height 18px
    width 18px
    position absolute
    left vr(-2)
    top 50%
    transform translateY(-50%)
    margin 0
    color var(--picto-accent-color)

  ul
    list-style none
    margin 0
    padding 0

  a
    color inherit
    text-decoration none

  .menu-primary
    > .link
      ma 0
    > .link > stencil-route-link > a
      display block
      border 1px solid var(--picto-pane-border)
      border-left none
      border-right none
      lh 3
      font-weight bold
      mh -1.5
      ph 1.5
      mb -1px
      &:before
        content ''
        display inline-block
        border 4px solid transparent
        border-left-color var(--picto-accent-color)
        width 0
        height 0
        vertical-align middle
        mr .5
      &.is-active
        background var(--picto-accent-color)
        color var(--picto-accent-color-alt)
        &:before
          border-left-color var(--picto-accent-color-alt)
    > .link > .hasSubmenu > a.is-active:before
          border-left-color transparent !important
          border-top-color var(--picto-accent-color-alt)
          mt 0.4
          ml -0.2
          mr .7
  .menu-secondary
    display block
    position relative
    background white
    mh -1.5
    pl 3.5
    pr 2
    pv 1.5
    mb 0
    box-shadow 0 3px 0 alpha(black, 0.1) inset
    border-bottom 1px solid var(--picto-pane-border)
    margin-bottom -1px
    > .link
      position relative
      & a
        display block
        text-overflow ellipsis
        overflow hidden
        white-space nowrap
        mb 0
        lh 1.3
    > .link .is-active
      color var(--picto-accent-color)
      font-weight bold
    > .link:last-child
      mb 0


