fs(amount)
  font-size 'calc(var(--picto-font-size) * %s)' % amount

vr(amount)
  'calc(var(--picto-line-height) * %s)' % amount

lh(amount)
  line-height vr(amount)

@import 'mixins/*'

component($display = inline-block)
  display $display
  position relative
  fs 1
  lh 2
  box-sizing border-box
