:host
  position fixed
  top 0
  left 0
  right 0
  bottom 0

stencil-router
  component(flex)

h4 > ion-icon
  color var(--picto-accent-color)
  cursor pointer
  font-size 24px
  float right

.index
  pv 5

menu
  ph 1.5
  pv 2
  height 100vh
  background var(--picto-pane-background)
  border-right 1px solid var(--picto-pane-border)
  min-width 280px
  overflow-y auto
  > ion-icon
    color var(--picto-accent-color)
    float left
    mr 0.5
    vertical-align text-bottom

main
  ph 5
  height 100vh
  flex-grow 1
  overflow scroll
  picto-preview
    mb 4
  picto-md
    display block

aside
  width 320px
  flex-shrink 0
  //margin-right -320px
  will-change margin-right
  transition margin-right 200ms ease-in-out
  &.open
    margin-right 0

