:host
  component(flex)
  position fixed
  top 0
  left 0
  right 0
  bottom 0

  > menu
    padding vr(3) vr(2)
    height 100vh
    background alpha(black, 5%)
    min-width 260px

  > main
    padding vr(3) vr(6)
    height 100vh
    flex-grow 1
    overflow scroll
