:host
  component(block)
  label
    line-height vr(2)
    display block
    font-weight bold
    fs 1.2
    code
      font-family 'Courier New', Courier, monospace
      font-weight normal
      display inline-block
      fs 0.8
      vertical-align middle
      margin 0
      ph 0.2
      background alpha(black, 0.1)
      border-radius 3px

  input, textarea
    fs 0.8
    font-family 'Courier New', Courier, monospace
    width 100%
    border none
    border-radius 5px
    box-shadow 0 0 0 1px inset alpha(black, 0.2)
    background-image linear-gradient(to bottom, alpha(black, 0.1), alpha(black, 0.03) 10px)

  input
    height vr(2)

  textarea
    resize vertical
    lh 1
    height vr(10)

  section h5
    mh -6
    pl 6
    background alpha(black, 0.05)
    box-shadow 0 -1px 0 inset alpha(black, 0.15)
    lh 3

  section:last-child
    mt 2
