component($display = inline-block)
  display $display
  position relative
  font-family var(--picto-font-family)
  fs 1
  lh 2
  color #616161

  :host-context(.grid-visible)
    background linear-gradient(transparent 90%, rgba(255,0,0,0.4))
    background-size 100% vr(1)
    background-attachment fixed

  *
    margin 0
    padding 0
    lh 1
    mb 1
    .grid-visible &
      background alpha(purple, 10%)

  *, *::before, *::after
    box-sizing border-box
    font-family inherit
    font-size inherit

  ul
    list-style none

  input, textarea
    display block

  input[type="checkbox"],
  input[type="radio"]
    display inline-block
    margin-bottom 0

  table
    border-collapse collapse
    border-spacing 0

  td, th
    lh 2
    ph 1
    text-align left
    border 1px solid black

  hr
    mt -2px
    mb 2

  h1
    fs 2.4
    lh 3
    mt -0.5
    mb 1.5

  h2
    font-weight bold
    fs 2.0
    lh 3
    mt -0.5
    mb 1.5

  h3
    font-weight bold
    fs 1.6
    lh 2
    mt -0.5
    mb 1.5

  h4
    font-weight bold
    fs 1.2
    lh 2
    mt -0.5
    mb 1.5

  h5
    font-weight bold
    fs 1
    lh 2
    mt -0.5
    mb 1.5

  p
    mt -0.5
    mb 1.5
    lh 2
